:root {
    --main-color: #11245A;
    --sub-color: #E93B81;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;


}

body{
    width: 100%;
    overflow-x: hidden;
}


.desk-none{
    display: none;
}

#main-section{
    width: 101%;
    height: fit-content;
    background-image: url(/img/portrait-woman.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;


}


nav>div{
    height: 100px;
    padding-top: 10px;
}
nav img{
    max-height: 100%;
}

.main-content{
    width: 100%;
    text-align: center;
    color: white;
}

.main-content h1{
    font-size: 3rem;
}

.main-content>p{
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.3rem;
}

.main-content>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-more-btn{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-color);
}

#wa-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 30px;
    
}

#wa-icon>a{
    width: 8%;
    
    
}

#about-section{
   
    width: 100%;
}

.section-with-header{
    color: var(--main-color);
}

.section-with-header>div{
    text-align: center;
    padding-left: 15%;
    padding-right:15%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-with-header h1{
font-size: 3rem;
}

#about-section p{
    font-size: 1.3rem;
}

.hr-break{
    width: 200px;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}

.img-side-header{
    display: grid;
    grid-template-columns: 17.5% 87.5%;
    
}

.side-header-h3{
    padding-left: 30px;
}

.flex-vertical-center{
    display: flex;
    
    align-items: center;
}

.flex-horizontal-center{
    display: flex;
    justify-content: center;
}
.text-left{
    text-align: left;
}

.left-border-box{
    border-left: #E93B81 3px solid;
    height: 100px;
}

.left-box-internal{
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

footer{
    background-color: var(--main-color);
    color: white;
    padding-left: 10%;
    font-size: 1.23rem;
    padding-top: 50px;
    padding-bottom: 50px;
    
}



.footer-2-grid{
    display: grid;
    grid-template-columns: 10% 90%;
}

.left-pad{
padding-left: 20px;
}

.footer-link{
    margin: auto;
}